<nav class="navbar navbar-expand-lg blue-back">
  <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#/professor/dashboard">
          <img src="assets/images/logo.png" alt="Logo" class="me-2" style="width: 40px;">
          <span class="fw-semibold text-white">GreenLearning</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link fw-semibold text-white" aria-current="page" href="#/professor/salas">Salas</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link fw-semibold text-white" aria-current="page" href="#/professor/menuJogo">Jogos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link fw-semibold text-white" aria-current="page" href="javascript:void(0);" (click)="logout()">Sair</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
