.fundo{
  margin: 0;
  padding: 0;
  background-image: url('/assets/jogoimg/background.png'); /* Substitua 'caminho/da/sua/imagem.jpg' pelo caminho real da sua imagem */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 94vh;
}

.lixeiranova{
  height: 40%;
}

.papelLixeira {
    // border: solid 1px #777777 !important;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    min-height: 270px;
    background-image: url('/assets/jogoimg/lixeiras/blue.png');
    background-repeat: no-repeat;
    background-size: 100%;
    // background-color: #a6d195;
    padding: 10px;
  }

  .metalLixeira {
    // border: solid 1px #777777 !important;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    min-height: 270px;
    background-image: url('/assets/jogoimg/lixeiras/yellow.png');
    background-repeat: no-repeat;
    background-size: 100%;
    // background-color: #a6d195;
    padding: 10px;
  }

  .plasticoLixeira {
    // border: solid 1px #777777 !important;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    min-height: 270px;
    background-image: url('/assets/jogoimg/lixeiras/red.png');
    background-repeat: no-repeat;
    background-size: 100%;
    // background-color: #a6d195;
    padding: 10px;
  }

  .organicoLixeira {
    // border: solid 1px #777777 !important;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    min-height: 270px;
    background-image: url('/assets/jogoimg/lixeiras/brown.png');
    background-repeat: no-repeat;
    background-size: 100%;
    // background-color: #a6d195;
    padding: 10px;
  }

  .vidroLixeira {
    // border: solid 1px #777777 !important;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    min-height: 270px;
    background-image: url('/assets/jogoimg/lixeiras/green.png');
    background-repeat: no-repeat;
    background-size: 100%;
    // background-color: #a6d195;
    padding: 10px;
  }

  .tamanhoIMG{
    width: 100px;
  }

  .example-box {
    padding: 10px;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    border: solid 1px #777777 !important;
    border-radius: 4px;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box:last-child {
    border: none;
  }

  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
