<div style="width: 100vw; height: 92vh;">
    <div  class="telaJogo container">
        <button class="botoes btn"><img src="assets/jogoimg/botaoJogar.png" class="imgBotao" (click)="jogar()" alt=""></button>
        <button class="botoes btn"><img src="assets/jogoimg/botaoComoJogar.png" class="imgBotao" (click)="abrirModal(modal1)"  alt=""></button>
        <img src="assets/jogoimg/menujogo.png" class="menuJogo" style="background-color: rgb(56, 56, 56);" alt="">
    </div>
    
</div>


<ng-template #modal1 let-modal>



     <img src="assets/jogoimg/DICAS.png" alt="">
        

</ng-template>

